.chip-filter-thin-1, .chip-filter-thin-2, .chip-filter-thin-3, .chip-filter-thin-4, .chip-filter-thin-5 {
    box-sizing: border-box;
}

.chip-filter-thin-1 {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--primary-grey-700, #121f3e);
    border-width: 0.5px;
    padding: 6px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.chip-filter-thin-2 {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--primary-grey-700, #121f3e);
    border-width: 1px;
    padding: 6px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.chip-filter-thin-3 {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--primary-grey-700, #121f3e);
    border-width: 2px;
    padding: 6px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.chip-filter-thin-4 {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--primary-grey-700, #121f3e);
    border-width: 3px;
    padding: 6px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.chip-filter-thin-5 {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--primary-grey-700, #121f3e);
    border-width: 4px;
    padding: 6px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.btn-arr-thin-2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
. {
    color: var(--primary-grey-700, #121f3e);
    text-align: left;
    font: var(--body-text-medium-regular, 400 14px/22px 'Spoqa Han Sans Neo', sans-serif);
    position: relative;
}
